@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* Hello! */

:root {
    --bg: rgb(20, 20, 20);
    --bg-light: rgb(30, 30, 30);
    --bg-dark: rgb(15, 15, 15);
    --text: rgb(210, 210, 210);
    --border: rgb(180, 180, 180);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
}

footer {
    position: absolute;
    bottom: 2%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#projNameContainer {
    padding: 2%;
    margin: 2%;
    width: 90%;
}

#projNameTextInput {
    width: 75%;
    height: 2rem;
    border-radius: 10px;
    padding: 0 .5rem;
    font-size: larger;
    color: var(--text);
    
    background-color: var(--bg-dark);
    border: 1px solid var(--border);
}

#projNameButton {
    float: right;
    border-radius: 10px;
    border: 1px solid var(--border);
    
    width: 20%;
    height: 2rem;
}

#projNameDiv {
    border: .5px dotted red;
}

/*
CHAT:


hello, kot...

*/