@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* Hello! */

:root {
    --bg-darker: rgb(5, 5, 5);
    --bg-dark: rgb(15, 15, 15);
    --bg: rgb(20, 20, 20);
    --bg-light: rgb(30, 30, 30);
    --bg-lighter: rgb(50, 50, 50);
    --border: rgb(120, 120, 120);

    --text: rgb(230, 230, 230);
    --border: rgb(200, 200, 200);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
}

button {
    border-radius: 10px;
    cursor: pointer;
    color: var(--text);
    border: 1px solid var(--border);
    background-color: var(--bg-light);
    
    width: 20%;
    height: 2.5rem;
}

button:active {
    background-color: var(--bg-dark);
}

hr {
    border: 1px solid var(--bg-lighter);
    width: 93%;
    margin-top: 3%;
    margin-bottom: 6%;
}

input[type=text]:focus {
    outline: 0;
}

#projNameContainer {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

#projName {
    line-height: 0;
}

#projNameTextInput {
    width: 75%;
    height: 2.5rem;
    border-radius: 10px;
    padding: 0 .5rem;
    font-size: larger;
    color: var(--text);
    
    background-color: var(--bg-dark);
    border: 1px solid var(--border);
}

#projNameButton {
    float: right;
}

#projNameDiv {
    width: 100%;
}

#runningOSContainer {
    padding: 0 2%;
    margin: 0 2%;
    width: 90%;
}

#runningOSLabel {
    line-height: 0;
}

#runningOSContainer button[data-selected="true"] {
    border-radius: 10px;
    cursor: pointer;
    color: var(--text);
    border: 1px solid var(--border);
    background-color: var(--bg-light);
    
    width: 48%;
    margin: 0 1%;
    height: 2.5rem;
}

#runningOSContainer button[data-selected="false"] {
    border-radius: 10px;
    cursor: pointer;
    color: var(--text);
    border: 1px solid var(--border);
    background-color: var(--bg-dark);
    
    width: 48%;
    margin: 0 1%;
    height: 2.5rem;
}

#runningOSContainer button:active {
    background-color: var(--bg-dark);
}

#logContainer {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    width: 90%;
    height: 100;
}

#logLabel {
    line-height: 0;
}

#logContainer object {
    width: 100%;
    color: var(--text);
    height: 10rem;
    border: 1px solid var(--border);
    border-radius: 10px;
    background-color: var(--bg-dark);
}

#createButtonContainer {
    position: absolute;
    bottom: 2%;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: 2%;
    margin-right: 2%;
    width: 90%;
    height: 100;
}

#createButton {
    border-radius: 10px;
    cursor: pointer;
    color: var(--text);
    border: 1px solid var(--border);
    background-color: var(--bg-light);
    
    width: 100%;
    height: 3rem;
}

#createButton:active {
    background-color: var(--bg-dark);
}

/*
CHAT:


hello, kot...

*/